body{
    background-color: black;
}
  /* position of the h1 tag */

.toptitle{
  text-align: center;
}

/* styling the h1 lenny */

.toptitle b{
    font-family: 'Reenie Beanie', cursive;
    color: #fff;
    font-size: 50px;
}

/* styling & positioning the iframe tag  */

.topvideo{
  text-align: center;
}
/* styling font of the h2 title */

.Discography h2{
    font-family: 'Reenie Beanie', cursive;
    color: #fff;
    font-size: 40px;
}
/* changing and styling the image text description */

.desc{
    font-family: 'Reenie Beanie', cursive;
    color:#fff;
    font-size: 24px;
}

/* setting and styling the grid for the album gallery */

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }
  
  .gallery {
    width: calc(50% - 10px); /* 2 columns with some spacing */
    margin-bottom: 20px; /* Adjust the spacing between rows */
    box-sizing: border-box;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  